html{
    background: url("456.png") no-repeat;
    background-size: 100vw 100vh;
}
body{
    max-height: 900px;
    display: block;
}
#login{
    padding-left: 2.5vw;
    position: fixed;
    top: 30.5vh;
    left: 51vw;
    width: 0;
    height: 30vh;
    display: block;
    overflow: hidden;
}
#xuehao{
    display: block;
    height: 10vh;
    font-size: 3vh;
    float: left;
    line-height: 10vh;
}
#mima{
    display: block;
    height: 7vh;
    font-size: 3vh;
    float: left;
    line-height: 7vh;
}
#choose{
    height: 0.5vh;
    width: 10vw;
    background: white;
    margin-left: 2.5vw;
}
#youke{
    height: 6vh;
    width: 15vw;
    color: white;
    font-size: 3.5vh;
    float: right;
    text-align: center;
}
#gogo{
    height: 6vh;
    width: 15vw;
    color: white;
    font-size: 3.5vh;
    float: left;
    text-align: center;
}
#innerlogin1{
    height: 23vh;
    width: 30vw;
    color: white;
    font-size: 3vh;
    float: right;
    text-align: center;
    line-height: 18vh;
    display: none;
}
#innerlogin2{
    height: 23vh;
    width: 25vw;
    color: white;
    font-size: 5vh;
    float: right;
    margin-right: 5vw;
    text-align: center;
}

#chuibi{
    position: fixed;
    margin:auto;
    color: white;
    font-size: 5vh;
    font-weight: 500;
    z-index:1;
    display: none;
    top: 50vh;
    left: 33vw;
    text-align: center;
}
#xian{
    left: 50vw;
    position: fixed;
    top: 45vh;
    width: 0;
    height: 0;
    border: none;
    background-size: 0.5px;
}
#tgu{
    width: 25vw;
    display: block;
    position: fixed;
    height: 20vh;
    top: 36vh;
    left: 35vw;
    color: white;
    font-size: 20vh;
}
#overCurtain{
    position: absolute;
    right:0;
    left:500px;
    bottom:0;
    top:200px;
    margin:auto;
    color: white;
    font-size: 200px;
    font-weight: 500;
    z-index:1;
    display: none;
}
.overCurtain {
    border-top:1px solid rgb(230,245,255);
    position:absolute;
    height:674px;
    width:100%;
    left:0;
    top:0;
    opacity:0.7;
    display:none;
    background-color:rgb(230,245,255);
}
.hide-center {
    width:408px;
    height:300px;
    position:absolute;
    right:0;
    left:700px;
    bottom:0;
    top:0;
    margin:auto;
    display:none;
    z-index:1;
}
.hide-center #formhead {
    width:400px;
    height:42px;
    margin:0;
    padding-top:12px;
    padding-bottom:-30px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#101010;
}
.hide-center #formhead-title {
    width:100px;
    height:24px;
    margin-left:156px;
    margin-right:36px;
    color:#bfbfbf;
    font-weight:900;
    display:inline-block;
}
.hide-center #formbody {
    width:400px;
    height:245px;
    background-color:#1e1e1e;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.hide-center .loginHead {
    margin-right:-8px;
    padding:13px;
    width:25px;
    height:28px;
    background-color:#141414;
    vertical-align:middle;
}
.hide-center .loginInput {
    height:52px;
    width:330px;
    padding-left:10px;
    border:0;
    background-color:#141414;
    color:aliceblue;
}
.hide-center .loginUserName {
    padding-left:30px;
    padding-top:30px;
}

.hide-center .loginPassword {
    padding-left:30px;
}
.hide-center #formfoot {
    margin-top:30px;
    margin-left:30px;
}
.hide-center #BSignIn {
    border:0;
    background:#329d90;
    color:#ffffff;
    width:170px;
    height:40px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}.hide-center #Resat {
     border:0;
     background:#329d90;
     color:#ffffff;
     width:170px;
     height:40px;
     border-bottom-left-radius:5px;
     border-bottom-right-radius:5px;
     border-top-left-radius:5px;
     border-top-right-radius:5px;
 }
